@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('../media/WallPaper.jpg');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;
}

h2 {
  color: #66fcf1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  margin-left: 10%;
  font-size: 42px;
  color: #66fcf1;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.scores,
.Add {
  width: 350px;
  position: relative;
  align-self: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

form input {
  border: 3px solid #1f2833;
  width: auto;
  font-weight: 500;
  height: 35px;
  background-color: #c5c6c7;
  color: #0b0c10;
  padding-left: 10px;
}

form input:focus {
  border: 3px solid #66fcf1;
}

button {
  padding: 7px 15px;
  background-color: #0b0c10;
  border: 1px solid #66fcf1;
  font-size: 14px;
  font-weight: 500;
  color: #66fcf1;
}

form button {
  align-self: flex-end;
}

button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
  border: 1px solid #0b0c10;
}

button:active {
  transform: scale(0.98);
}

.scores h2 {
  display: inline-block;
  margin-right: 30px;
}

.scores button {
  position: absolute;
  right: 0;
  top: 20px;
}

.board {
  list-style-type: none;
  margin: 1.5% 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.board li {
  padding: 10px;
}

.board li:nth-child(odd) {
  background-color: #1f2833;
  color: #c5c6c7;
}

.board li:nth-child(even) {
  background-color: #c5c6c7;
  color: #1f2833;
}
